.main{
    display: flex;
}
.left{
    width: 75%;
    float: left;
}
.right {
    width: 25%;
    border: solid 1px black;
}
.final{
    padding: 20px;
    padding-left: 0px;
    width: 25%;
    background: lightgray;
    border-radius: 30px;
}